.proyectListContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.item_button{
    width: 100% ;
    background-color: var(--color4);
    color: var(--color2);
    border: none;
}

.item_button:hover{
    border-bottom: 1px solid var(--color1);
    color: var(--color1);
}
.toolListContainer{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}
.list-groupItems{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
    width: 100%;
}
.list-group-itemTool{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color2);
    border-radius: 8px;
    padding: 8px;
    min-width: 40%;
    background-color: var(--color4);
    color: var(--color3);
}

.btnDeleteTool{
    height: 40px;
    width: 40px;
    color: white;
    border: 1px solid var(--color2);
    margin-left: 15px;
}
.dropdownListToolsContainer{
    width: 100vw;
    height: 100%;
    padding: 10px;
    display: flex;
}

.toolsListSelected{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    min-height: 100px;
    width: 80%;
}
.btnToolsList{
    background-color: var(--color4);
}

@media screen and (max-width: 786px) {
    .toolsListSelected{
        width: 100%;
    }
    .proyectListContainer{
        width: 100%;
        min-height: 0vh;
    }

    .toolListContainer{
        width: 100%;
    }
    .dropdownListToolsContainer{
        flex-direction: column;
    }
   
}