.aboutContainer{
    width: 100%;
    margin: 20px;
}
.iconCV{
    width: 100px; 
}
.iconGit{
    width: 100px;
    transform: scaleX(-1);
}
.iconProject{
    width: 100px;
    transform: scaleX(-1);
}
.iconLinkedin{
    width: 100px;
    
}

.card{
    background-color: var(--color3);
    padding: 20px;
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.row{
    margin: 20px 0;
}
.card-title{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color1);
    font-weight: 450;
}

.tituloCard:hover{
    font-size: 1.5rem;

}
.darkModeCard{
    background-color: var(--color5);
}

.darkModeTituloCard{
    color: var(--color6);
}