
.container-fluid{
    background-color: var(--color1);
    padding: 20px 40px !important;
}
.navbar{
    padding: 0px !important;
}
.offcanvas-body{
    background-color: var(--color3);
}
.offcanvas-header{
    background-color: var(--color3);

}
.logo{
    width: 60px;
}
.logo-text{
    color: var(--color3);
    font-size: 1.2rem;
}
li{
 font-weight: 600;
 font-size: 1.1rem;
}
.menuLogo{
    height: 49px;
    transition: height 0.3s ease;
}
.menuLogo:hover{
    height: 52px;
    
}
.navbar-toggler{
    border: none !important;
}

.navbar-toggler.navbar-toggler:focus {
    box-shadow: none;
}
.nav-link{
    color: var(--color1) !important;
}
.nav-link.active{
    color: rgb(0, 0, 0) !important;
}