.imgCard{
    object-fit: contain;
    height: 100%;
}

.links--container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}
.card-responsive_fullstack{
    color: rgb(3, 180, 3);
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}
.card_fullstack{
    height: 70px;
}
.link--project{
    width: 40%;
    color: var(--color1);
    text-decoration: none;
    transition: ease all 0.3s;
    
}
.link--project:hover{
    transform: scale(1.1);
}
.toolsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    
}
.cardBodyContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 80px;
}
.darkModeLink{
    color: var(--color6);
}
.darkModeTool{
    color: var(--color2);
}

.apiContainer{
    color: var(--color3);
    display: flex;
    gap: 10px;
}